{% extends 'partials/base.html.twig' %}

{% set address = encodeAddressStrings(site.contactdetails.name, site.contactdetails.address) %}

{% block main %}
  <main class="ph3 cover {{ page.header.main_classes }}">
    <div class="bg-white relative top--6 neg-mb7 mw8 center {{ page.header.main_container_classes }}">
      {% include 'partials/icon_header_block.html.twig' with { divClasses: 'b--orange bg-transparent pb0' } %}
      <iframe
        allowfullscreen
        class="w-100 db"
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?q={{ address }}&key={{ site.credentials.google_maps }}"
        style="border: 0; height: 32rem; position: relative; top: -4rem;"
      ></iframe>
      <article class="ph3 pb3 tc bg-white">
        <h1 class="orange f3 fw4 ttu neg-mt3 mb4">
          {{ page.title }}
        </h1>

        <div class="flex-ns tl">
          <div class="w-50-ns ph3 ph4-ns flex-one br-ns b--orange">
            {{ header.description }}
            <p class="orange">
              {{ site.contactdetails.address|nl2br }}
            </p>
            <p>
              <span class="orange">Call us on:</span>
              {{ site.contactdetails.tel }}
            </p>
            <p>
              <span class="orange">Email us:</span>
              <a class="black hover-orange underline" href="mailto:{{ site.contactdetails.email }}">
                {{ site.contactdetails.email }}
              </a>
            </p>
          </div>
          <div class="w-50-ns ph3 ph4-ns flex-one bl-ns b--orange">
            {{ header.directions }}
          </div>
        </div>
      </article>

    </div>
  </main>
{% endblock main %}
