{% extends 'partials/base.html.twig' %}

{% set address = encodeAddressStrings(site.contactdetails.name, site.contactdetails.address) %}

{% block body %}
  <main id="body" class="ph3 ph5-ns relative z-1 mt-6">
    
    {% include "svgs/circle-phone.svg.twig" with { class: 'h3 h4-ns w3 w4-ns db center mb-2_5 mb-4_5-ns z-max relative' } %}

    <article class="mw8 center bt bw4 b--orange pb3 pb4-ns bg-white">

      <div class="bb bw3 b--orange">
        <iframe
          allowfullscreen
          class="w-100 db"
          frameborder="0" 
          src="https://www.google.com/maps/embed/v1/place?q={{ address }}&key={{ site.credentials.google_maps }}" 
          style="border: 0; height: 32rem;"
        ></iframe>
      </div>

      {% block title %}
        <h1 class="ttu fw4 tc mt4">
          {{ page.title() }}
        </h1>
      {% endblock %}

      {% block content %}
        <div class="flex-ns">
          <div class="w-50-ns ph3 ph4-ns flex-one br-ns b--orange">
            {{ header.description }}
            <p class="orange">
              {{ site.contactdetails.address|nl2br }}
            </p>
            <p>
              <span class="orange">Call us on:</span>
              {{ site.contactdetails.tel }}
            </p>
            <p>
              <span class="orange">Email us:</span> 
              <a class="link black underline" href="mailto:{{ site.contactdetails.email }}">
                {{ site.contactdetails.email }}
              </a>
            </p>
          </div>
          <div class="w-50-ns ph3 ph4-ns flex-one bl-ns b--orange">
            {{ header.directions }}
          </div>
        </div>
      {% endblock %}

    </article>

  </main>
{% endblock %}

