{% extends 'partials/base.html.twig' %}
{% set blurb = page.find('/coverage') %}

{% set options = { items: { '@page': '/coverage' }, 'order': {'by': 'date', 'dir': 'asc' } } %}
{% set coverage = page.collection(options) %}


{% block main %}
  <main class="ph3 cover {{ page.header.main_classes }}">
    <div class="bg-white relative top--6 neg-mb7 mw8 center {{ page.header.main_container_classes }}">
      {% include 'partials/icon_header_block.html.twig' with { svgFile: 'circle-trophy' } %}
      <article class="pa3 tc bg-white">
        <h1 class="orange f3 fw4 ttu mt0">
          {{ blurb.title() }}
        </h1>
        <header class="measure-wide center">
          {{ blurb.content }}
        </header>
        <div class="mw8 center pa3 ph4-ns pb4-ns pt5-ns bg-white flex-ns">
          <section class="w-60-ns mr3-ns">
            <div class="bg-o20-orange pa4 tl">
              <h2>{{ page.header.title }}</h2>
              {{ content|markdown }}
            </div>
          </section>
            <ul class="w-40-ns bl br bw2 b--orange mv0 list pl0 ph2 tl">
              {% for link in header.links %}
                <li class="mb3">
                  <span class="orange b">
                    {{ link.source }} &ndash;
                  </span>
                  <a href="{{ header.link }}" class="link underline-hover gray">
                    <span class="grey">
                      {{ link.headline }}
                    </span>
                </li>
              {% endfor %}
            </ul>
        </div>
      </article>
      {% block main_lower %}
      {% endblock main_lower %}
    </div>
  </main>
{% endblock main %}
