{% set footerLinks = [
  {
    name: 'Privacy Policy',
    url: '/privacy-policy'
  },
  {
    name: 'Terms & Conditions',
    url: '/terms-and-conditions'
  },
  {
    name: 'Cookie Policy',
    url: '/cookie-policy'
  }
] %}


<footer class="f6 pa3 pa5-ns pt5 pt6-ns mt-4 mt-5-ns tc bg-img-swoosh bg-x-90 bg-y-25 white">
  <div class="center mw8 flex-ns justify-between items-end">

    <section class="order-2 tr-ns">

      {% for socialLink in ['twitter', 'linkedin'] %}
        <a href="{{ site.social_media[socialLink] }}" class="hover-fill-orange">
          {% include "svgs/#{socialLink}.svg.twig" with { 'classes': 'h-100 w-15 fill-white w-30-ns' } %}
        </a>
      {% endfor %}

      <address class="fs-normal mv3">
        {{ site.contactdetails.address|nl2br }}
      </address>
      <address class="fs-normal mv3">
        {{ site.contactdetails.tel }}
        <br>
        <a href="mailto:{{ site.contactdetails.email }}" class="link white hover-orange">{{ site.contactdetails.email }}</a>
      </address>
    </section>

    <section class="order-1 tl-ns mv3">
      {% for link in footerLinks %}
        <a href={{ link.url }} class="f6 dib ph1 link white hover-orange">
          {{ link.name }}
        </a>
      {% endfor %}
    </section>
  </div>
</footer>
