<ul class="list pl0 cf mt4 mb0">
  {% for p in collection %}

    {% if p.header.company_logo_background_image %}
      {% set bgImage = '/' ~ p.header.company_logo_background_image|first.path %}
    {% else %}
      {% set bgImage = 'https://placeimg.com/500/500/animals' %}
    {% endif %}

    <li class="fl w-50 w-third-ns">
      <div class="aspect-ratio aspect-ratio--1x1 ">
        <a
          class="aspect-ratio--object db link orange hover-white fill-orange hover-fill-white"
          href="{{ p.url }}"
        >
          <img
            alt="{{ p.title }} case study"
            aria-hidden="true"
            class="db bg-center cover aspect-ratio--object blank"
            style="background: url({{ bgImage }}) #000;"
          />
          <div
            aria-hidden="true"
            class="db aspect-ratio--object blank bg-overlay-black bg-overlay-orange-hover"
          ></div>
          <div class="aspect-ratio--object flex flex-column items-center justify-center pe-none">
            <span class="ttu z-9999 pe-none dib tc mt2">
              {% if p.header.company_logo_image %}
                <img
                  class="w-50"
                  src="{{ '/' ~ p.header.company_logo_image|first.path }}"
                />
              {% else %}
                {{ p.title }}
              {% endif %}
            </span>
          </div>
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
