{% extends 'partials/base.html.twig' %}

{% set colours = ['purple', 'grey', 'plum', 'orange']|randomize %}
{% set leftTriangle = '0 0 0 10 10 0' %}
{% set rightTriangle = '0 0 10 0 10 10' %}

{% block body %}
  <article id="body" class="ph3 ph5-ns relative z-1 mt-6 bg-img-escalator cover">

    {% set svgFile = (header.svgFile) ? header.svgFile : 'certificate' %}
    {% include "svgs/circle-#{svgFile}.svg.twig" with { class: 'h3 h4-ns w3 w4-ns db center mb-2_5 mb-4_5-ns' } %}

    <section class="mw8 center bt bw4 b--orange pa3 ph4-ns pb4-ns pt5-ns bg-overlay-white">

      {% block title %}
        <h1 class="ttu fw4 tc">
          {{ page.title() }}
        </h1>
      {% endblock %}

      {% block content %}
        {% set centredText = header.centredText ? 'tc' : '' %}
        <div class="{{ centredText }} measure-wide center">
          {{ content }}
        </div>

        <ul class="list pl0 white tc">
          {% for q in header.quotes %}
            {% set colour = (loop.index + 1)|modulus(colours|length, colours) %}
            {% set isLeft = loop.index|modulus(2) == 1 %}
            {% set triangle = isLeft ? leftTriangle : rightTriangle %}
            {% set trianglePos = isLeft ? 'left-2' : 'right-2' %}

            <li class="bg-quote-{{ colour }} pa3 mb5 relative">
              <div class="f4 measure center mb3 quote">{{ q.body }}</div>
              <div class="f6">{{ q.source }}</div>
              <svg aria-hidden="true" viewBox="0 0 10 10" class="o-90 h2 top-100 {{ trianglePos }} absolute">
                <polygon class="fill-{{ colour }}" points="{{ triangle }}"></polygon>
              </svg>
            </li>
          {% endfor %}
        </ul>
      {% endblock %}

    </section>

  </article>
{% endblock %}
