{% extends 'partials/base.html.twig' %}
{% set templateBackgroundClass = 'bg-img-bike bg-y-30' %}
{% set templateBodyClasses = 'body-img-city-overlay' %}

{% block body %}

  <article id="body" class="ph3 ph5-ns relative z-2 mt-6">

    {% include "svgs/circle-cog.svg.twig" with { class: 'h3 h4-ns w3 w4-ns db center mb-2_5 mb-4_5-ns' } %}

    <section class="mw8 center bt bw4 b--orange pa3 ph4-ns pb4-ns pt5-ns bg-white">

      {% block title %}
        <h1 class="ttu fw4 tc">
          {{ page.title() }}
        </h1>
        {% if header.subtitle %}
          <h2 class="f4 orange fw6 tc">
            {{ header.subtitle }}
          </h2>
        {% endif %}
      {% endblock %}

      {% block content %}
        <div class="tc pb3 pb4-ns grey mw6 center">
          {{ content }}
        </div>

        <section class="cf">

          {% set colClasses = 'fl w-100 w-50-ns tc white' %}
          {% set blockClasses = 'pv4 ph5 mb4' %}
          <div class="{{ colClasses }} pr3-ns">
            <div class="{{ blockClasses }} bg-grey">
              <h2 class="fw4 ttu mt0 mb2">Objective</h2>
              {{ header.objective|markdown }}
            </div>
            <div class="{{ blockClasses }} bg-grey">
              <h2 class="fw4 ttu mt0 mb2">Story</h2>
              <div>
                {{ header.story|markdown }}
              </div>
            </div>
          </div>

          <div class="{{ colClasses }} pl3-ns">
            <section class="{{ blockClasses }} bg-orange">
              <h2 class="fw4 ttu mt0 mb2">Results</h2>
              {{ header.results|markdown }}
            </section>

            <section class="pa3 ba b--orange bw2">
              <ul class="list pl0 square-bullet-list">
                {% for stat in header.stats %}
                  <li class="orange fw7 ttu f4 mb3">
                    {{ stat.stat }}
                  </li>
                {% endfor %}
              </ul>
            </section>
          </div>
        </section>

      {% endblock %}

    </section>

  </article>
{% endblock %}

{% block below_body %}
  {% set siblings = page.collection({ 'items': ['@self.siblings'] }) %}
  {% include 'partials/work_list.html.twig' with { 'collection': siblings } only %}
{% endblock %}
