{% macro blogMeta(page, useImage = false) %}
  {% set author = page.find(page.header.author)|default(false) %}
  {% set authorPhoto = author.header.photo|first %}

  {{ dump(author)}}
  <div class="gray f6">
    {% if author %}
      {% if useImage and authorPhoto %}
        <img
          src="/{{ authorPhoto.path }}"
          class="w3 ba br-100 b--orange dib v-mid mr2"
          style="border-width: 2px;"
        />
      {% endif %}
      <span class="dib br b--gray pr2 mr1 orange ttu">
        By {{ author.header.first_name }}
      </span>
    {% endif %}
    <time class="dib" datetime="{{ page.date|date("c") }}">
      {{ page.date|date("F j, Y") }}
    </time>
  </div>
{% endmacro blogMeta %}

{% macro blogContent(page) %}
  {{ _self.blogMeta(page) }}

  <div>
    <h4 class="f4 mt3 lh-title">
      <a href="{{ page.url }}" class="black">
        {{ page.title }}
      </a>
    </h4>
    {{ page.summary|default(page.content) }}
    <a href="{{ page.url }}">Continue reading...</a>
  </div>
{% endmacro blogContent %}
