{% macro blogMeta(page, useImage = false) %}
  {% set author = page.find(page.header.author)|default(false) %}
  {% set authorPhoto = author.media[author.header.photo|first.name] %}

  <div class="gray f6">
    {% if author %}
      {% set first_name = author.header.first_name %}
      {% if useImage and authorPhoto %}
        {{ authorPhoto.resize(66).html(null, first_name, 'w3 ba br-100 b--orange dib v-mid mr2') }}
      {% endif %}
      <span class="dib br b--gray pr2 mr1 orange ttu">
        By {{ first_name }}
      </span>
    {% endif %}
    <time class="dib" datetime="{{ page.date|date("c") }}">
      {{ page.date|date("F j, Y") }}
    </time>
  </div>
{% endmacro blogMeta %}

{% macro blogContent(page) %}
  {{ _self.blogMeta(page) }}

  <div>
    <h4 class="f4 mt3 lh-title">
      <a href="{{ page.url }}" class="black">
        {{ page.title }}
      </a>
    </h4>
    {{ page.summary|default(page.content)|striptags('<p><b><i><em>') }}
    <a href="{{ page.url }}">Continue reading...</a>
  </div>
{% endmacro blogContent %}
