{% extends 'partials/base.html.twig' %}
{% set blurb = page.find('/coverage') %}

{% set options = { items: { '@page': '/coverage' }, 'order': {'by': 'date', 'dir': 'asc' } } %}
{% set coverage = page.collection(options) %}


{% block body %}
  <article id="body" class="ph3 ph5-ns relative z-1 mt-6">

    {% include "svgs/circle-trophy.svg.twig" with { class: 'h3 h4-ns w3 w4-ns db center mb-2_5 mb-4_5-ns' } %}

    <section class="mw8 center bt bw4 b--orange pa3 ph4-ns pb4-ns pt5-ns bg-overlay-white">
        <h1 class="ttu fw4 tc">
          {{ blurb.title() }}
        </h1>

        <div class="tc center measure-wide">
          {{ blurb.content }}
        </div>
    </section>

    <section class="mw8 center pa3 ph4-ns pb4-ns pt5-ns bg-white flex-ns">
      <div class="w-60-ns mr3-ns">
        <div class="bg-overlay-orange pa4">
          {{ content }}
          <nav class="cf">
            {% set navClasses = 'dib pa3 w-50 bg-orange white' %}
            {% if not coverage.isFirst(page.path) %}
              <a class="fl {{ navClasses }}" href="{{ coverage.nextSibling(page.path).url }}">
                Previous week
              </a>
            {% endif %}

            {% if not coverage.isLast(page.path) %}
              <a class="fr tr {{ navClasses }}" href="{{ coverage.prevSibling(page.path).url }}">
                Next week
              </a>
            {% endif %}
          </nav>
        </div>
      </div>
      <ul class="w-40-ns bl br bw2 b--orange mv0 list pl0 ph2">
        {% for link in header.links %}
          <li>
            <span class="orange b">
              {{ link.source }} &ndash;
            </span>
            <a href="{{ header.link }}" class="link underline-hover">
              <span class="grey">
                {{ link.headline }}
              </span>
          </li>
        {% endfor %}
      </ul>
      <div>
      </div>
    </section>

  </article>
{% endblock %}
