{% import "macros/macros.html.twig" as macros %}
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% set body_classes = page.header.body_classes %}
{% set header_classes = page.header.header_classes|default('bg-img-swoosh bg-y-15') %}
{% set main_classes = page.header.main_classes %}
{% set main_container_classes = page.header.main_container_classes %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

  <head>
    {% block head %}

      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24134336-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-24134336-1');
      </script>

      <meta charset="utf-8" />
      <title>
        {% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}
      </title>

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'partials/metadata.html.twig' %}

      <link rel="canonical" href="{{ page.url(true, true) }}" />

      {% block stylesheets %}
        {% do assets.addCss('fonts', { 'pipeline': false }) %}
        {% do assets.addCss('slick-css', 90) %}
        {% do assets.addCss('jsSocial-css', 90) %}
        {% do assets.addCss('//npmcdn.com/jquery-gray@1.6.0/css/gray.min.css', 90) %}
        {% do assets.addCss('theme://css-compiled/index.css', 80) %}
      {% endblock %}
      {{ assets.css() }}

      {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('slick-js', 90) %}
        {% do assets.addJs('//cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.js', 90) %}
        {% do assets.addJs('featherlight-js', 90) %}
        {% do assets.addJs('handlebars', 90) %}
        {% do assets.addJs('jsSocial-js', 90) %}
        {% do assets.addJs('//npmcdn.com/jquery-gray@1.6.0/js/jquery.gray.min.js', 90) %}
        {% do assets.addJs('theme://js-compiled/bundle.js', { 'group': 'bottom', priority: 50 }) %}
      {% endblock %}
      {{ assets.js() }}

      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
      <script>
        window.addEventListener("load", function() {
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#E86D39",
              "text": "#ffffff"
            },
            "button": {
              "background": "#f5d948"
            }
          },
          "content": {
            "href": "/cookie-policy"
          }
        })});
      </script>

      <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/favicon/apple-touch-icon.png') }}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://images/favicon/favicon-32x32.png') }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://images/favicon/favicon-16x16.png') }}">
      <link rel="manifest" href="{{ url('theme://images/favicon/manifest.json') }}">
      <link rel="mask-icon" href="{{ url('theme://images/favicon/safari-pinned-tab.svg" color="#e86d39') }}">
      <meta name="theme-color" content="#ffffff">
    {% endblock head %}
  </head>

  <body
    id="top"
    class="titillium lh-copy relative {% block bodyClasses %}{{ body_classes }}{% endblock %}"
  >

    {% block mobile_header %}
      <header class="dn-m dn-l top-0 bg-white z-max bb b--orange bw2 pa3" style="position: sticky;">
        <div class="flex justify-between items-center">
          <section class="mw5 w-60">
            {% if page.home() %}
              {{ macros.sparkLogoWide('db') }}
            {% else %}
              <a href="/" class="db">
                {{ macros.sparkLogoWide('db') }}
              </a>
            {% endif %}
          </section>
          <button
            id="js-open-menu"
            class="hamburger hamburger--spring"
            type="button"
          >
            <span class="ttu gray mr2">Menu</span>
            <span class="hamburger-box v-mid">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </header>

      {% include 'partials/navigation_mobile.html.twig' %}

    {% endblock mobile_header %}



    {% block header %}
      <header
        class="min-h6 bg-black cover {% block headerClasses %}{{ header_classes }}{% endblock %}"
      >
        <div class="center pt5 ph3 mw8 dn flex-m flex-l justify-between items-end">

          {% if page.home() %}
            {{ macros.sparkLogo('w-25-ns flex-none') }}
          {% else %}
            <a href="/" class="w-25-ns flex-none">
              {{ macros.sparkLogo('fill-orange-hover') }}
            </a>
          {% endif %}

          {% include 'partials/navigation.html.twig' %}

        </div>

        {% if block('hero') is defined %}
          <div class="center ph3 mw8">
            {% block hero %}
            {% endblock hero %}
          </div>
        {% endif %}

      </header>
    {% endblock header %}

    {% block main %}
      <main class="ph3 cover {{ main_classes }}">
        <div class="bg-white relative top--6 neg-mb7 mw8 center {{ main_container_classes }}">
          {% include 'partials/icon_header_block.html.twig' %}
          <article class="pa3 tc bg-white">
            <h1 class="orange f3 fw4 ttu mt0">
              {{ page.title }}
            </h1>
            <div class="measure-wide center">
              {{ content }}
            </div>
          </article>
          {% block main_lower %}
          {% endblock main_lower %}
        </div>
      </main>
    {% endblock main %}

    {% block under_main %}
    {% endblock under_main %}

    {% include 'partials/footer.html.twig' with { footer_classes: block('footer_classes') }%}

    {% block bottom %}
      {{ assets.js('bottom') }}
    {% endblock bottom %}

  </body>
</html>
