{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% macro sparkLogo(extraClasses) %}
  {% include 'svgs/logo_text-bottom.svg.twig' with { class: 'h-100 w-100 fill-white ' ~ extraClasses } %}
{% endmacro %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">

  <head>
    {% block head %}
      <meta charset="utf-8" />
      <title>
        {% if header.title %}{{ header.title|e('html') }} | {% endif %}
        {{ site.title|e('html') }}
      </title>

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'partials/metadata.html.twig' %}

      <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
      <link rel="canonical" href="{{ page.url(true, true) }}" />

      {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/index.css', 100) %}
      {% endblock %}
      {{ assets.css() }}

      {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js-compiled/bundle.js', { 'group':'bottom' }) %}
      {% endblock %}
      {{ assets.js() }}

    {% endblock head %}
  </head>

  <body id="top" class="{{ page.header.body_classes }} titillium lh-copy">

    {% block header %}

      {% if header.backgroundClass %}
        {% set headerBackgroundClass = header.backgroundClass %}
      {% elseif templateBackgroundClass %}
        {% set headerBackgroundClass = templateBackgroundClass %}
      {% else %}
        {% set headerBackgroundClass = 'bg-img-swoosh bg-y-15' %}
      {% endif %}

      <header class="header pa5 pb7 flex flex-wrap cover {{ headerBackgroundClass }}">

        {% if page.home() %}
          {{ _self.sparkLogo('w-25-ns flex-none') }}
        {% else %}
          <a href="/" class="w-25-ns flex-none hover-fill-orange">
            {{ _self.sparkLogo() }}
          </a>
        {% endif %}

        {% block header_navigation %}
          <nav class="flex-auto flex justify-end items-end">
            {% include 'partials/navigation.html.twig' %}
          </nav>
        {% endblock header_navigation %}

        {% block hero %}
        {% endblock %}

      </header>
    {% endblock header %}

    {% block body %}
      <article id="body" class="pa5 relative z-1">
        {% block title page.title() %}
        {% block content content %}
      </article>
    {% endblock %}

    {% block below_body %}{% endblock %}

    {% include 'partials/footer.html.twig' %}

    {% block bottom %}
      {{ assets.js('bottom') }}
    {% endblock %}

  </body>
</html>
