{% set news = page.find('/blog').children.published.order('date', 'desc') %}
{% set sitemapNews = [] %}
{% for item in news if item.header.inSitemap == true %}
  {% set sitemapNews = sitemapNews|merge([item]) %}
{% endfor %}

<footer class="pb4 ph4 f6 tc white bg-near-black bg-img-footer bg-bottom-right {{ footer_classes|default('pt7') }}">

  <div class="center mw8 flex-ns justify-between items-start tl pa3 mb5">

    <section class="w-25-ns">
      <h4 class="f4 fw4 mt0 mb2">Sitemap</h4>
      <ul class="list pl3 list-hyphen">
        {% for link in site.footer.sitemap %}
          <li class="mb2">
            <a href="{{ link.url }}" class="white">
              {{ link.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="w-25-ns mh3-ns">
      {% set services = page.find('/services').header.services %}
      <h4 class="f4 fw4 mt0 mb2">Services</h4>
      <ul class="list pl3 list-hyphen">
        {% for service in services %}
          {% set slug = service.title|hyphenize %}
          <li class="mb2">
            <a href="/services#{{ slug }}" class="white">
              {{ service.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="w-50-ns">
      <h4 class="f4 fw4 mt0 mb2">News</h4>
      <ul class="list pl3 list-hyphen">
        {% for post in sitemapNews|slice(0, 5) %}
          <li class="mb2">
            <a href="{{ post.url }}" class="white">
              {{ post.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>

  </div>

  <div class="center mw8 flex-ns justify-between items-end">

    <section class="order-2 tr-ns">
      {% for item in site.social_media.links %}
        <a href="{{ item.url }}" class="dib h-100 w3">
          {% include "svgs/#{item.name}.svg.twig" with { 'classes': 'fill-white fill-orange-hover' } %}
        </a>
      {% endfor %}

      <address class="fs-normal mv3">
        {{ site.contactdetails.address|nl2br }}
      </address>
      <address class="fs-normal mt3">
        {{ site.contactdetails.tel }}
        <br>
        <a href="mailto:{{ site.contactdetails.email }}" class="white hover-orange no-underline">
          {{ site.contactdetails.email }}
        </a>
      </address>

    </section>

    <section class="order-1 tl-ns mv3 mv0-ns flex flex-column">
      <img src="{{ url('theme://images/pr-week-logo.png') }}" class="w4 mb3 self-center self-start-ns" />
      <div class="w-100 f6">
        <span class="dib">&copy; Spark Communications Ltd 2017</span>
      </div>
      <nav class="w-100 f6">
        {% for link in site.footer.links %}
          <a href={{ link.url }} class="f6 mr2 dib white hover-orange no-underline">
            {{ link.text }}
          </a>
        {% endfor %}
      </nav>
    </section>
  </div>
</footer>
