{% set team = page.find('/team').children %}

<ul id="meet-the-team" class="list pl0 ma0 cf">
  {% for person in team %}
    {% set img = person.header.photo|first.path %}
    <li
      class="js-person dib fl w-50 w-third-ns relative"
      data-name="{{ person.title }}"
      data-bio="{{ person.header.bio }}"
      data-img="{{ img }}"
    >
      <img
        class="db gray-80"
        src="{{ img }}"
      />
      <div class="absolute absolute--fill" name="overlay"></div>
      <div class="js-name absolute bottom-0 w-100 pb3 tc orange f4 ttu">
        {{ person.header.title }}
      </div>
    </li>
  {% endfor %}
</ul>

{% verbatim %}
  <script id="team-modal-template" type="text/x-handlebars-template">
    <div>
      <article class="mw8 center flex flex-column flex-row-ns">
        <div class="w-100 w-50-ns">
          <img src="{{ img }}" class="db" />
        </div>
        <section class="w-100 w-50-ns tl pa4">
          <h2 class="orange fw4 ttu mt0">
            {{ name }}
          </h2>
          <div>
            {{ bio }}
          </div>
        </section>
      </article>
    </div>
  </script>
{% endverbatim %}
