{% set heroLinks = [
  {
    title: 'Why',
    subtitle: 'Why people hire us',
    url: '/why-spark',
    icon: 'svgs/speech-bubble.svg.twig'
  },
  {
    title: 'Work',
    subtitle: 'Campaigns that deliver',
    url: '/our-work',
    icon: 'svgs/cog.svg.twig'
  },
  {
    title: 'How',
    subtitle: 'Create, engage & influence',
    url: '/create-engage-and-influence',
    icon: 'svgs/handshake.svg.twig'
  }
] %}

{% set widths = 'w-100 db w-third-ns w-third-m w-third-l' %}
{% set bgs = 'bg-white' %}
{% set hovers = 'hover-orange hover-fill-orange no-decoration-hover' %}

<section class="mh3 flex-ns flex-m flex-l bg-white tc ttu fw4 relative">
  {% for link in heroLinks %}
    <a
      href={{ link.url }}
      class="{{ widths }} {{ bgs }} {{ hovers }} link black pb3 z-2">
      <div class="ph5 pv3">
        <div class="aspect-ratio aspect-ratio--16x9 mh3 center">
          {% include link.icon with { class: 'aspect-ratio--object' } %}
        </div>
      </div>
      <div class="f3 db">
        {{ link.title }}
      </div>
      <div class="f6 db">
        {{ link.subtitle }}
      </div>
    </a>
  {% endfor %}
</section>
