{% set services = page.find('/services').header.services %}

{# Mobile version, only shown at small sizes #}

<ul class="db dn-ns dn-m dn-l list pl0">
  {% for service in services %}
    {% set slug = service.title|hyphenize %}
    <li class="relative pa4 overflow-hidden tc">
      <img
        aria-hidden="true"
        src="{{ url("theme://images/#{slug}.jpg") }}"
        class="db bg-center cover absolute absolute--fill blank"
      />
      <div
        name="overlay"
        aria-hidden="true"
        class="db absolute absolute--fill blank bg-o80-purple"
      ></div>
      <a
        href="/services#{{ slug }}"
        class="z-2 relative white bg-orange ttu br-pill pa3 w-100 dib center mt3"
      >
        <div class="br-100 bg-orange absolute dib w3r pa1 left-50 bottom-2 transform-center-xy">
          {% include "svgs/circle-#{slug}.svg.twig" with { class: ' fill-white', noBg: true } %}
        </div>
        <span class="relative z-3">
          {{ service.title }}
        </span>
      </a>
    </li>

  {% endfor %}
</ul>

{# Desktop version, shown at ns and above #}

<ul class="dn db-ns db-m db-l list pl0 cf mt0 mb0">
  {% for service in services %}
    {% set slug = service.title|hyphenize %}

    <li class="fl w-50 w-third-ns">
      <div class="aspect-ratio aspect-ratio--1x1 ">
        <a
          class="aspect-ratio--object db link orange hover-white fill-orange fill-white-hover overlay-bg-o80-orange-hover"
          href="/services#{{ slug }}"
        >
          <img
            aria-hidden="true"
            src="{{ url("theme://images/#{slug}.jpg") }}"
            class="db bg-center cover aspect-ratio--object blank"
          />
          <div name="overlay" aria-hidden="true" class="db aspect-ratio--object blank bg-o80-purple"></div>
          <div class="aspect-ratio--object flex flex-column items-center justify-center pe-none">
            {% include "svgs/circle-#{slug}.svg.twig" with { class: 'w-third', noBg: true } %}
            <span class="ttu z-9999 pe-none dib tc mt2">
              {{ service.title }}
            </span>
          </div>
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
